@use "sass:color";

.section {
    $a: 28px;
    padding-left: $a;
    padding-top: 20px;
    padding-bottom: 12px;
    page-break-inside: auto;

    @media (min-width: 768px) {
        padding-left: 50px;
        padding-right: 20px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);

        [data-theme="dark"] & {
            box-shadow: 0 0 12px rgba(251, 191, 36, .2);
        }

        @media print {
            box-shadow: none;
        }
    }

    & + & {
        @media (min-width: 768px) {
            margin-top: 15px;
        }

        @media (min-width: 1280px) {
            margin-top: 25px;
        }
    }

    &-title {
        &:before {
            content: "0" counter(section-number) ". ";
            counter-increment: section-number;
            user-select: none;
            font-size: 70%;
            margin-left: -$a - 6;
            color: var(--color-text-muted);
        }
    }

    .title {
        margin: 0;
        font-size: 26px;
        line-height: 1.25;
        letter-spacing: 0.01em;
    }

    .desc {
        font-size: 13px;
        color: var(--color-text-muted);
        transition: color var(--transition-theme);
        letter-spacing: 0.01em;
    }
}
