@use "sass:math";

.sections {
    @extend .container;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    color: var(--color-text-primary);
    background-color: transparent;
    background-clip: content-box;
    counter-reset: section-number;
    transition: color var(--transition-theme);

    @media (min-width: 768px) {
        flex-direction: row;
        gap: 30px;
    }

    [data-theme="dark"] & {
        color: var(--color-text-primary);
    }

    &-main {
        @media (min-width: 768px) {
            width: (math.div(100%, 3) * 2);
        }
    }

    &-aside {
        @media (min-width: 768px) {
            width: (math.div(100%, 3));
        }
    }
}
