<section class="section portfolio">
	<h3 class="title section-title">Портфолио</h3>
	<p class="desc">Последние свёрстанные PSD макеты</p>
	<div class="portfolio-list-wrap">
		<ul class="portfolio-list">
			{{#each portfolio}}
				<li class="portfolio-item {{mod}}">
					<a href="{{link}}" class="portfolio-link">
						<div class="portfolio-img-holder">
							<img src="static/img/content/{{imgPath}}.png" alt="" class="portfolio-img">
						</div>
						<h4 class="portfolio-title">{{title}}</h4>
					</a>
					<a href="{{githubLink}}" target="_blank" class="portfolio-github-link icon-github-logo"></a>
				</li>
			{{/each}}
		</ul>
	</div>
</section>
