@use "sass:math";

@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none outside none;
}

@mixin cf {
    &:before,
    &:after {
        display: table;
        content: '';
    }

    &:after {
        clear: both;
    }
}

%nl {
    @include nl;
}

%cf {
    @include cf;
}

/// Remove the unit of a length
/// @param {Number} $number - Number to remove unit from
/// @return {Number} - Unitless number
@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

@function in-perc($val, $width) {
    @return (math.div($val, $width) * 100%);
}

@mixin visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}

%section-list {
    margin-top: 0;
    padding-left: 0;
}

%section-list-item {
    margin-bottom: 14px;

    &:last-child {
        margin-bottom: 0;
    }
}

%section-list-item-title {
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: 400;
}

%section-list-item-desc {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 1.6;
}
