<footer class="footer">
    <h2 class="footer-name">
        <span class="lang-ru">Денис Белевцов</span>
        <span class="lang-en">Denis Belevtsov</span>
        <span class="lang-uk">Денис Белевцов</span>
    </h2>
    <a href="mailto:denistrators@gmail.com" class="footer-mail">denistrators@gmail.com</a>
    <div class="footer-offer">
        <span class="lang-ru">Не открыт для предложений</span>
        <span class="lang-en">Not open to suggestions</span>
        <span class="lang-uk">Не відкритий для пропозицій</span>
    </div>
</footer>
