.footer {
    text-align: center;
    margin-bottom: 50px;

    &-name,
    &-offer,
    &-mail {
        margin: 8px 0;
        font-size: 16px;
        font-weight: 300;
    }

    &-name {
        display: block;
        text-transform: uppercase;
    }
}
