<section class="section achievements">
    <h2 class="title section-title" data-i18n="section.achievements.title">
        {{t 'section.achievements.title'}}
    </h2>
    <p class="desc" data-i18n="section.achievements.desc">
        {{t 'section.achievements.desc'}}
    </p>
    <ul class="achievements-list">
        {{#each achievements}}
        <li class="achievements-item">
            <h3 class="achievements-title" data-i18n="achievements.{{@index}}.title">{{{title.en}}}</h3>
            <p class="achievements-desc" data-i18n="achievements.{{@index}}.description">{{{description.en}}}</p>
        </li>
        {{/each}}
    </ul>
</section>
