<section class="section achievements">
    <h2 class="title section-title" data-i18n="achievements.title">
        {{t 'achievements.title'}}
    </h2>
    <p class="desc" data-i18n="achievements.description">
        {{t 'achievements.description'}}
    </p>
    <ul class="achievements-list">
        {{#each achievements.items}}
        <li class="achievements-item">
            <h3 class="achievements-title" data-i18n="achievements.items.{{@index}}.title">{{{title.en}}}</h3>
            <p class="achievements-desc" data-i18n="achievements.items.{{@index}}.description">{{{description.en}}}</p>
        </li>
        {{/each}}
    </ul>
</section>
