@use "sass:color";

.section {
    $a: 28px;
    padding-left: $a;
    padding-top: 10px;
    padding-bottom: 10px;
    page-break-inside: avoid;

    &-title {
        &:before {
            content: "0" counter(section-number) ". ";
            counter-increment: section-number;
            user-select: none;
            font-size: 70%;
            margin-left: -($a + 4px);
        }
    }

    .title {
        margin: 0;
        font-size: 28px;
        line-height: 1.2;
    }

    .desc {
        font-size: 14px;
        color: var(--color-text-muted);
        transition: color var(--transition-theme);
    }
}
