<header class="header">
	<div class="header-text">
		<h1 class="header-name">Денис <br>Белевцов</h1>
		<p class="header-pos">// Front-end Developer</p>
	</div>
	<ul class="header-links">
		<li class="header-links-item">
			<a href= "mailto:denistrator@yandex.ua" class="header-link icon-mail-black-envelope-symbol">
				<span class="header-link-text"><span class="only-print">e-mail: </span>denistrator@yandex.ua</span>
			</a>
		</li>
		<li class="header-links-item">
			<a href="tel:+380953182503" class="header-link icon-phone-receiver">
				<span class="header-link-text">+38 095 318 25 03</span>
			</a>
		</li>
		<li class="header-links-item">
			<a href="skype:denistrator?add" class="header-link icon-skype-logo">
				<span class="header-link-text"><span class="only-print">skype: </span>denistrator</span>
			</a>
		</li>
		<li class="header-links-item no-print">
			<a href="https://vk.com/denistrator" target="_blank" class="header-link icon-vk"></a>
		</li>
		<li class="header-links-item no-print">
			<a href="https://github.com/denistrator/" target="_blank" class="header-link icon-github-logo"></a>
		</li>
		<li class="header-links-item no-print">
			<a href="https://www.linkedin.com/in/denistrator" target="_blank" class="header-link icon-linkedin-logo"></a>
		</li>
		<li class="header-links-item header-links-item--mobile-open">
			<div class="header-link icon-locate">
				<span class="header-link-text"><span class="only-print">г. </span>Харьков</span>
			</div>
		</li>
		<li class="header-links-item no-print">
			<a href="Belevtsov Denis - Resume.pdf" class="header-link icon-pdf-file-symbol"></a>
		</li>
		<li class="header-links-item no-print reading-mode-toggle-wrap">
		<li class="header-links-item no-print only-js">
			<button class="reading-mode-toggle header-link icon-sun"></button>
		</li>
	</ul>
</header>