<header class="header">
	<div class="header-text">
		<h2 class="header-name">Denis <br>Belevtsov</h2>
		<p class="header-pos">Front-end Developer</p>
	</div>
	<ul class="header-links">
		<li class="header-links-item">
			<a href= "mailto:denistrator@yandex.ua" class="header-link icon-mail-black-envelope-symbol">
				<!-- <span class="header-link-icon icon-mail-black-envelope-symbol"></span> -->
				<span class="header-link-text">denistrator@yandex.ua</span>
			</a>
		</li>
		<li class="header-links-item">
			<a href="tel:+380953182503" class="header-link icon-phone-receiver">
				<!-- <span class="header-link-icon icon-phone-receiver"></span> -->
				<span class="header-link-text">+38 095 318 25 03</span>
			</a>
		</li>
		<li class="header-links-item">
			<a href="skype:denistrator?add" class="header-link icon-skype-logo">
				<!-- <span class="header-link-icon icon-skype-logo"></span> -->
				<span class="header-link-text">denistrator</span>
			</a>
		</li>
		<li class="header-links-item">
			<a href="https://vk.com/denistrator" target="_blank" class="header-link icon-vk">
				<!-- <span class="header-link-icon icon-vk"></span> -->
				<!-- <span class="header-link-text">VK</span> -->
			</a>
		</li>
		<li class="header-links-item">
			<a href="https://github.com/denistrator/" target="_blank" class="header-link icon-github-logo">
				<!-- <span class="header-link-icon icon-github-logo"></span> -->
				<!-- <span class="header-link-text">github</span> -->
			</a>
		</li>
		<li class="header-links-item">
			<a href="https://www.linkedin.com/in/denistrator" target="_blank" class="header-link icon-linkedin-logo">
				<!-- <span class="header-link-icon icon-linkedin-logo"></span> -->
				<!-- <span class="header-link-text">linkedin</span> -->
			</a>
		</li>
	</ul>
</header>