<header class="header">
    <div class="header-main">
        <h1 class="header-name">
            <span data-i18n="header.name">{{t 'header.name'}}</span>
            <br>
            <span data-i18n="header.surname">{{t 'header.surname'}}</span>
        </h1>
        <nav aria-label="Contact and actions">
            <ul class="header-links">
                <li class="header-links-item header-links-item--email">
                    <a href="mailto:denistrators@gmail.com" class="header-link" data-i18n-attr="aria-label:header.emailAria" aria-label="{{t 'header.emailAria'}}">
                        {{Icon iconName="mail" className="header-icon" iconWidth="24" iconHeight="24"}}
                        <span class="header-link-text"><span class="only-print">e-mail: </span>denistrators@gmail.com</span>
                    </a>
                    <button type="button" class="copy-email-btn no-print only-js" data-i18n-attr="aria-label:header.copyEmailAria" aria-label="{{t 'header.copyEmailAria'}}" tabindex="-1">
                        {{Icon iconName="clipboard" className="copy-email-icon" iconWidth="16" iconHeight="16"}}
                    </button>
                </li>
                <li class="header-links-item no-print">
                    <a href="https://github.com/denistrator/" target="_blank" class="header-link" rel="noopener" data-i18n-attr="aria-label:header.githubAria" aria-label="{{t 'header.githubAria'}}">
                        {{Icon iconName="github" className="header-icon" iconWidth="24" iconHeight="24"}}
                        <span class="label" data-i18n="header.githubLabel">{{t 'header.githubLabel'}}</span>
                    </a>
                </li>
                <li class="header-links-item no-print">
                    <a href="https://t.me/denistrator" target="_blank" class="header-link" rel="noopener" data-i18n-attr="aria-label:header.telegramAria" aria-label="{{t 'header.telegramAria'}}">
                        {{Icon iconName="telegram" className="header-icon" iconWidth="24" iconHeight="24"}}
                        <span class="label" data-i18n="header.telegramLabel">{{t 'header.telegramLabel'}}</span>
                    </a>
                </li>
                <li class="header-links-item header-links-item--mobile-open">
                    <span class="header-link">
                        {{Icon iconName="locate" className="header-icon" iconWidth="24" iconHeight="24"}}
                        <span class="header-link-text">
                            <span class="only-print" data-i18n="header.locationPrintPrefix">{{t 'header.locationPrintPrefix'}}</span><span data-i18n="header.locationText">{{t 'header.locationText'}}</span>
                        </span>
                    </span>
                </li>
                <li class="header-links-item no-print">
                    <a href="media/Belevtsov Denis - Resume-{{langCode}}.pdf" class="header-link" data-i18n-attr="aria-label:header.pdfAria" aria-label="{{t 'header.pdfAria'}}">
                        {{Icon iconName="pdf" className="header-icon" iconWidth="24" iconHeight="24"}}
                        <div class="label" data-i18n="header.pdfLabel">{{t 'header.pdfLabel'}}</div>
                    </a>
                </li>
                <li class="header-links-item no-print only-js">
                    <button class="reading-mode-toggle header-link" aria-pressed="false" data-i18n-attr="aria-label:header.themeAria" aria-label="{{t 'header.themeAria'}}">
                        {{Icon iconName="sun" className="header-icon icon-sun" iconWidth="24" iconHeight="24"}}
                        {{Icon iconName="moon" className="header-icon icon-moon" iconWidth="24" iconHeight="24"}}
                        <span class="label" data-i18n="header.themeLabel">{{t 'header.themeLabel'}}</span>
                    </button>
                </li>
                <li class="header-links-item no-print only-js">
                    <button class="lang-toggle header-link" data-i18n-attr="aria-label:header.langAria" aria-label="{{t 'header.langAria'}}">
                        <span class="lang-toggle-text">{{langCode}}</span>
                    </button>
                </li>
            </ul>
        </nav>
    </div>

    <p class="header-pos">
        <span data-i18n="header.title1">{{t 'header.title1'}}</span>
    </p>

    <p class="header-pos">
        <span data-i18n="header.title2">{{t 'header.title2'}}</span>
    </p>
</header>
