<section class="section education">
    <h2 class="title education-title section-title">
        <span class="lang-ru">Обучение</span>
        <span class="lang-en">Education</span>
    </h2>
    <p class="desc education-desc">
        <span class="lang-ru">Приобретённые знания</span>
        <span class="lang-en">What i learned</span>
    </p>
    <p class="education-courses">
        <small class="education-date">11.2016</small>
        <span class="lang-ru">Закончил курс</span>
        <span class="lang-en">Completed the course</span>
    &quot;<a href="http://spalah.ua/kh/school/advanced-html-css/">Advanced HTML/CSS</a>&quot;
        <span class="lang-ru">в</span>
        <span class="lang-en">in</span>
        <a href="http://spalah.ua/kh/school/">Spalah IT-school</a>.
        <span class="lang-ru">Диплом с оценкой 5/5.</span>
        <span class="lang-en">Graduated with 5/5 score.</span>
        (
        <a href="media/3-FHD-min.png" class="lang-ru">Сертификат</a>
        <a href="media/3-FHD-min.png" class="lang-en">Certificate</a>
        <span class="line-separator">/</span>
        <a href="media/2-FHD-min.png" class="lang-ru">Диплом</a>
        <a href="media/2-FHD-min.png" class="lang-en">Diploma</a>
        )
    </p>
</section>
