html {
    box-sizing: border-box;
}

*,
:before,
:after {
    box-sizing: inherit;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.only {
    &-print {
        display: none !important;

        @media print {
            display: initial !important;
        }
    }

    &-js {
        .no-js & {
            display: none;
        }
    }
}

.no {
    &-print {
        @media print {
            display: none !important;
        }
    }
}
