html[lang=ru] {
    .lang-en,
    .lang-uk {
        display: none;
    }
}

html[lang=en] {
    .lang-ru,
    .lang-uk {
        display: none;
    }
}

html[lang=uk] {
    .lang-en,
    .lang-ru {
        display: none;
    }
}
