.page-wrapper {
    @media screen and (min-width: 768px) {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: in-perc(30, 1920);
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1060px;

    @media (max-width: 767px) {
        padding-left: in-perc(60, 1070);
        padding-right: in-perc(60, 1070);
    }

    @media (min-width: 768px) {
        padding-left: 40px;
        padding-right: 40px;
    }
}
