<meta charset="utf-8">
<title data-i18n="head.title">{{t 'head.title'}}</title>
<meta content="{{t 'head.description'}}" data-i18n-attr="content:head.description" name="description">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="color-scheme" content="light dark">
<meta name="theme-color" content="#f0eef1" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#0a0a0a" media="(prefers-color-scheme: dark)">

<link rel="manifest" href="manifest.json">

{{> head/favicon }}

<link href="%=static=%css/main%=hash=%%=min=%.css" rel="stylesheet" type="text/css" media="all" inline>
