<section class="section experience">
	<h3 class="title section-title">Опыт</h3>
	<p class="desc">Использование технологий. Работа в команде</p>
	<ul class="experience-list">
		<li class="experience-item">Верстка HTML/CSS — 1 год.</li>
		<li class="experience-item">Работа в команде — 2 месяца.</li>
		<li class="experience-item">8+ сверстанных макетов за время самообучения.</li>
		<li class="experience-item">11 сверстанных макетов за время обучения на курсе "<a href="goo.gl/c1vztV" class="">Advanced HTML/CSS</a>"</li>
	</ul>
	<p class="">Работая в команде использовал GitHub. В нескольких проектах отвечал за разные части разработки(в одном за основные компоненты - типографика, кнопки, формы; в другом за отдельные модули страницы — сетка продуктов, навигация, панели; в третьем за JavaScript – слайдеры, анимация, интерактивные элементы).</p>
</section>