<section class="section skills">
	<h3 class="title skills-title section-title">
		<span class="lang-ru">Навыки</span>
		<span class="lang-en">Skills</span>
	</h3>
	<p class="desc skills-desc">
		<span class="lang-ru">Могу, умею, практикую</span>
		<span class="lang-en">Know it, use it</span>
	</p>
	<ul class="skills-list">
		<li class="skills-item">HTML<span class="line-separator"> / </span>CSS </li>
		<li class="skills-item">CSS Animations<span class="line-separator"> / </span>
            Transforms<span class="line-separator"> / </span>Sprites </li>
		<li class="skills-item">SASS<span class="line-separator"> / </span>SCSS
			<span class="lang-ru"> (и другие препроцессоры)</span>
			<span class="lang-en"> (and other)</span>
		</li>
        <li class="skills-item">Flexbox</li>
		<li class="skills-item">Bootstrap <span class="line-separator"> / </span> Foundation</li>
		<li class="skills-item">JavaScript<span class="line-separator"> / </span>jQuery</li>
		<li class="skills-item">BEM<span class="line-separator"> / </span>
			<span class="lang-ru">Модульная вёрстка</span>
			<span class="lang-en">Modular markup</span>
		</li>
		<li class="skills-item">Handlebars<span class="line-separator"> / </span> Jade</li>
		<li class="skills-item">Gulp<span class="line-separator"> / </span>TARS
									<span class="line-separator"> / </span>Grunt</li>
		<li class="skills-item">NPM<span class="line-separator"> / </span>Bower
            <span class="line-separator"> / </span>Yarn</li>
		<li class="skills-item">Git</li>
		<li class="skills-item">SVG <span class="line-separator"> / </span> Font icons</li>
		<li class="skills-item">Photoshop<span class="line-separator"> / </span>
							  Illustrator<span class="line-separator"> / </span>
							    Avocode</li>
		<li class="skills-item">Pixel perfect</li>
		<li class="skills-item">
			<span class="lang-ru">Семантическая вёрстка</span>
			<span class="lang-en">Semantic markup</span>
		</li>
		<li class="skills-item">
            Trello <span class="line-separator"> / </span> Jira
		</li>
		<li class="skills-item">
			<span class="lang-ru">Оптимизация для Google Pagespeed</span>
			<span class="lang-en">Optimization for Google Pagespeed</span>
		</li>
		<li class="skills-item skills-item-special">
			<span class="lang-ru">Английский — грамматика "Pre-intermediate", легко читаю тех. документацию,
                могу вести переписку.</span>
			<span class="lang-en">English grammar "Pre-Intermediate". Read technical documentation easily,
                can chat</span>
		</li>
	</ul>
</section>
