.skills {
    &-list {
        font-size: 14px;
    }

    &-list-label {
        margin-bottom: 3px;

        + ul {
            margin-top: 0;
        }
    }

    &-skill {
        & + & {
            &:before {
                content: ' / ';
                color: $light2;

                .light & {
                    color: lighten($dark, 35%);
                }
            }
        }
    }
}
