<section class="section skills">
    <h2 class="title skills-title section-title" data-i18n="section.skills.title">
        {{t 'section.skills.title'}}
    </h2>
    <p class="desc skills-desc" data-i18n="section.skills.desc">
        {{t 'section.skills.desc'}}
    </p>
    <ul class="skills-areas">
        {{#each skills.items}}
        <li class="skills-area">
            <h3 class="skills-group-label">
                {{#if name.default}}{{name.default}}{{/if}}
                {{#if name.en}}<span data-i18n="skills.{{@index}}.name">{{{name.en}}}</span>{{/if}}
            </h3>
            <ul class="skills-group">
                {{#each skills}}
                <li class="skills-item">
                    <span class="skills-skill">
                        {{#if name.default}}{{{name.default}}}{{/if}}
                        {{#if name.en}}<span data-i18n="skills.{{@../index}}.{{@index}}.name">{{{name.en}}}</span>{{/if}}
                    </span>
                    {{#if extra}}
                    <span class="skills-skill-extra">
                        {{#if extra.en}}<span data-i18n="skills.{{@../index}}.{{@index}}.extra">{{{extra.en}}}</span>{{/if}}
                    </span>
                    {{/if}}
                </li>
                {{/each}}
            </ul>
        </li>
        {{/each}}
    </ul>
</section>
