@use "sass:color";

.skills {
    &-areas {
        margin-top: 0;
        list-style: none;
    }

    &-area {
        margin-bottom: 14px;
    }

    &-group {
        margin-top: 0;
        font-size: 15px;
        list-style: disc;
    }

    &-group-label {
        margin-top: 0;
        margin-bottom: 3px;
        font-size: 17px;
        font-weight: 400;
    }

    &-skill {
        & + & {
            &:before {
                content: ' / ';
                color: var(--color-skill-separator);
                transition: color var(--transition-theme);
            }
        }
    }
}
