<section class="section skills">
    <h2 class="title skills-title section-title">
        <span class="lang-ru">Навыки</span>
        <span class="lang-en">Skills</span>
    </h2>

    <p class="desc skills-desc">
        <span class="lang-ru">Могу, умею, практикую</span>
        <span class="lang-en">Know it, use it</span>
    </p>

    {{#each skillAreas}}
    <p class="skills-list-label">
        {{#if title.default}} {{title.default}} {{/if}}
        {{#if title.en}} <span class="lang-en">{{title.en}}</span> {{/if}}
        {{#if title.ru}} <span class="lang-ru">{{title.ru}}</span> {{/if}}
    </p>
    <ul class="skills-list">
        {{#each skillGroups}}
        <li class="skills-item">
            {{#each this}}
            <span class="skills-skill">
                {{#if label.default}} {{label.default}} {{/if}}
                {{#if label.en}} <span class="lang-en">{{label.en}}</span> {{/if}}
                {{#if label.ru}} <span class="lang-ru">{{label.ru}}</span> {{/if}}
            </span>
            {{/each}}
        </li>
        {{/each}}
    </ul>
    {{/each}}
</section>
